@media (min-width: 900px) {
    
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        min-height: 100vh; /* 100% of the viewport height */
    }
    /****************************** Style Header *********************************/
    .dir-logo {
        width: 24px;
        height: 24px;
    }
    header {
        display: flex;
        padding: 7px;
        column-gap: 5px;
    }
    header h1 {
        margin-top: 15px;
        font-size: xx-large;
    }
    /****************************** Style Navigation *********************************/
    .navigation ul {
        flex-direction: row;
        background-color: #333;
    }
    .navigation a {
        font-size: 25px;
        padding: 0.75rem;
    }
    .navigation a:hover {
        font-size: 25px;
    }
    /****************************** Style Biz Card *********************************/
    .biz-card {
        width: 400px;
        height: 400px;
        padding: 10px;
        gap: 15px;
    }
    .biz-card img {
        width: 200px;
    }
    .biz-card h2 {
        font-size: 50px;
    }
    /****************************** Style Main *********************************/
    .welcome {
        font-size:x-large;
    }
    /****************************** Style List View *********************************/
    .list-div {
        flex-direction: row;
        column-gap: 10px;
        font-size: large;
        width: 85%;

    }
    .list-div span {
        width: 200px;
    }

    /********************************* Footer Styling ********************************/
    .dir-footer {
        font-size: x-large;
        height: 100px;
    }
}