* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh; /* 100% of the viewport height */
}
/****************************** Style Index Header *********************************/
.header-index{
    display: grid;
    grid-template-areas:
    "center-top center-top top-right"
    ". center-bottom .";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    text-align: left;
    background-color: #923333;
    padding: 0px;
    /* gap: 5px; */
}
.div-index {
    grid-area: center-top;
    display: flex;
    background-color: #923333;

    color: #f5f5f5;
    width: 100%;
    /* padding: 5px 0 5px 80px; */
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 0px;
}
.nav-index {
    grid-area: center-bottom;
    text-align: center;
}
.div-index h1 {
    font-size: large;
    text-align: center;
    padding: 2px;
    margin: 3px;
}
.div-index img {
    display: block;
    width: 40px;
    height: 40px;
    border: #f5f5f5 solid 1px;
    border-radius: 5px;
    
}
.ulist-index{
    /* background-color: #2196f3; */
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.list-index {
    display: block;
    width: 100%;
    flex: 1 1 100%;
    padding: 15px;
    text-align: center;
}
.a-link {
    color: #f5f5f5;
    font-size: small;
}
.dark-mode {
    grid-area: top-right;
    
    text-align: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: cadetblue; */
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
}/*  */
/****************************** Style Hero Image *********************************/
/* .hero-image {
    display: inline-block;
    align-self: center;
    width: 50%;
    height: 50%;
} */
.hero-image {
  height: 40vh;
  width: 100%;
  background-image: url('../images/idoma-drums.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}
/****************************** Style Events *********************************/
.events-container {
    display: grid;
    grid-template-columns: 50% 25% 24%;
    grid-template-rows: auto;
    column-gap: 6px;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}
.events-container p {
    background-color: #000000;
    height: 30px;
    font-size: larger;
    color: #ffffff;
    text-align: left;
    padding: 4px 0 0 8px;
}
.events {
    background-color: #cbcaca;
    height: 200px;
}
.current-weather {
    background-color: #cbcaca;
}
.weather-forecast {
    background-color: #cbcaca;
}
/****************************** Style Header *********************************/
.dir-logo {
    width: 24px;
    height: 24px;
}
header {
    display: flex;
    padding: 7px;
    column-gap: 5px;
}
header h1 {
    display: inline-block;
    margin-top: 30px;
    font-size: large;
}
header img {
    margin: 0px;
}
header div {
    /* background-color: #efe8e8; */
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}
/****************************** Style Navigation *********************************/
.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation a {
    display: block;
    color: #eee;
    font-size: 18px;
    padding: 0.45rem;
    text-decoration: none;
    text-align: center;
    background-color: black;
}
.navigation a:hover {
    font-weight: 500;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(6, 6, 6);
    background-color: #eee;
}
.navigation li {
    display: block;
    width: 90%;
    flex: 1 1 100%;
}
/****************************** Style Biz Card *********************************/
.biz-card {
    display: inline-block;
    background-color: rgb(214, 207, 207);
    width: 300px;
    height: 300px;
    padding: 5px;
    text-align: center;
    gap: 10px;
    border: #f7f3f3 solid 1px;
    border-radius: 6px;
}
.biz-card img {
    width: 120px;
    height: auto;
    border-radius: 4px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.4);
}
.biz-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
/****************************** Style Main *********************************/
.welcome {
    font-size:large;
    margin-bottom: 0px;
    background-color: #f7f3f3;
    border-radius: 5px;
    padding: 5px;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 90%;
    height: 800px;
    margin: 0 auto;
    overflow-y: auto;
    column-gap: 5px;
    border: #030303 solid 1px;
}
main h2 {
    font-size: 60px;
}
/****************************** Style Cards *********************************/
.description, .website {
    display: block;
    margin: 6px auto;
    width: 200px;
    background-color: #cbcaca;
}
.btn-container {
    padding: 5px;
}
.directory-content {
    display: inline;
}
.directory-content h2 {
    font-size: larger;
}
.directory-content.show .biz-card {
    display: block;
}
.directory-content.show .biz-card img {
    display: none;
}
.website {
    cursor: pointer;
}

/****************************** Style Toggle Switch *********************************/
.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 66px;
    margin-top: 15px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #923333;
    transition: 0.9s;
}
.slider::before {
    position: absolute;
    content: "list";
    text-decoration: underline ;
    color: #ffffff;
    cursor: pointer;
    height: 60px;
    width: 60px;
    left: 4px;
    bottom: 1px;
    background-color: #923333;
    border: #ffffff solid;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider::before {
    content: "card";
    color: #ffffff;
    transform: translateX(132px);
    background-color: #923333;
    border: #f9f7f7 solid;
}
.slider.round {
    border-radius: 34px;
}
.slider.round::before {
    border-radius: 50%;
}
/****************************** Style Dark Mode Switch *********************************/
/* .dark-mode {
    position: relative;
} */
.switch-m {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 30px;
    margin-top: 15px;
}
.switch-m input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider-m {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #000000;
    /* background-color: #ccc; */
    border: #030303 solid 1px;
    transition: 0.9s;
}
.slider-m::before {
    position: absolute;
    content: "";
    height: 28px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: hsl(0, 0%, 100%);
}
input:focus + .slider-m {
    box-shadow: 0 0 1px #923333;
}
input:checked + .slider-m::before {
    transform: translateX(10px);
    background-color: #ffffff;
}
.slider-m.round {
    border-radius: 4px;
}
.slider-m.round::before {
    border-radius: 4px;
}
/****************************** Style List View *********************************/
.list-div {
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    padding: 12px;
    width: 100%;
    margin: 0 auto;

}
.list-div span {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

/********************************* Footer Styling ********************************/
/* .dir-footer {
    background-color: #923333;
    color: #f5f5f5;
    font-size:large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
} */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    height: 200px;
    background-color: #923333;
}
.address {
    font-size: large;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    color: #ffffff;

}
.index {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: right; */
    /* background-color: bisque; */
    margin: 10px;
    padding: 15px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #ffffff;
}
