.visiting {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: 
  "left right"
  ". right"
  ". right";
}
.wrapper {
  grid-area: right;

  display: grid;
  grid-template-areas: 
  "center";
  width: 90%;
  background-color: #3c5a78;
  margin: 0 auto;
  padding: 10px;
}
.visit-info {
  grid-area: left;
  
  display: flex;
  width: 50px;
  flex-direction: column;
  background-color: rgb(42, 151, 151);
  cursor: pointer;
  margin: 20px;
}
.place-card {
  display: grid;
  background-color: rgb(219, 226, 217);
  width: 300px;
  height: 450px;
  margin: 7px auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "image"
    "name"
    "description"
    "location";
}
.place-image {
  grid-area: image;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.place-name {
  grid-area: name;
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px;
}
.place-description {
  grid-area: description;
  font-size: 1em;
  line-height: 1.5;
  margin: 5px;
}
.place-location {
  grid-area: location;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
}
/******************* Modal Style ***********************/
#dialog-box {
  display: none;
}
.open-dialog-btn {
  background-color: #003366;
  color: #ffffff;
  width: 80px;
  height: 80px;
  margin: 5px auto;
  border-radius: 7px;
  cursor: pointer;
}
.discover-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #e69999;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100px;
    max-width: 600px;
    padding: 20px;
    background-color: #003366;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dialog-box button {
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #e30a0a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/******************* Media Style ***********************/
@media screen and (min-width: 800px) {
  .wrapper {
    grid-template-areas: 
    "left center";
  }
  .place-card {
    width: 260px;
    height: 500px;
  }
  .place-image:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  }
  
}
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-areas: 
    "left right";
  }
  .place-card {
    width: 400px;
    height: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "image name"
    "image description"
    "image location";
  }
  
}
@media screen and (min-width: 1600px) {
  .wrapper {
    width: 98%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "left center right";
    transition: width 0.3s ease-in-out;
  }
  .place-card {
    /* width: 400px; */
    /* height: 200px; */
    grid-template-columns: 1fr 1fr;
  }
  
}