@media (min-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        /* 100% of the viewport height */
        min-height: 100vh; 
    }
    /********************************* Hamburger Styling ********************************/

    .hamburger {
        display: none; /* hide hamburger on large screens */
    }

    .nav-links {
        display: flex !important; /* always show nav horizontally */
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
    }
    .logo h3 { 
        margin-left: 10px;
    }
    .nav-links a {
        padding: 0 1rem;
    }
    /********************************* Main Styling ********************************/
    .taste-main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "left right";
    }
}