@media screen and (max-width: 900px) {
    /*********************************** Color Scheme *******************************/
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-sizing: border-box;
    }
    /********************************* Body Styling ********************************/
    body {
        background-color: #f0f0f0;
    }
    /********************************* Header Styling ********************************/
    header {
        display: grid;
        grid-template-columns: 24px auto 44px;
        /* Changed to a darker blue for better contrast */
        background-color: #036;
        color: #f5f5f5;
        padding: 5px 0 5px 10px;
        border-bottom: solid 1px #ddd;
        column-gap: 8px;
    }

    .header .logo {
        display: block;
        width: 100%;
        height: auto;
    }

    .header .my-name {
        font-size: 1em;
        margin-top: 8px;
        color: #f5f5f5;

    }

    /********************************* Navigation Styling ********************************/
    .nav {
        display: none;
        /* Initially hidden */
    }

    .nav.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 90%;
        /* min-width: 250px; */
        margin: 20px auto;
        background-color: #036; /* Changed to a darker blue for better contrast */
        /* border-radius: 8px; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* position: fixed; */
    }

    .nav-item {
        margin: 5px 0;
        list-style: none;
        background-color: #f5f5f5;
        margin: 3px auto;
        width: 98%;
    }
    .nav-item:hover {
        background-color: #036; /* Lighter shade for hover effect */
        color: #f5f5f5; /* Changed to white for better contrast */
    }
    .nav-ulist {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .nav-ulist a {
        font-size: 1em;
        color: #036; /* Changed to white for better contrast */
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
    }

    /********************************* Hamburger Styling ********************************/
    .hamburger {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #036; /* Changed to a darker blue for better contrast */
        color: #f5f5f5; /* Changed to white for better contrast */
        /* background-color: none; */
        font-size: 2rem;
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
        padding: 5px 0 0 20px;
    }

    .hamburger::before {
        content: '\00D7';
        color: #f5f5f5;
        /* Unicode character for open icon */
        /* font-size: 2rem; */
    }

    .hamburger.show::before {
        content: '\003D';
        color: #f5f5f5;
        /* Unicode character for close icon */
        /*display: none;  Initially hidden */
        /*font-size: 2rem;  display: none; */
    }

    
    
    /* Button styling */
    .btn {
        background-color: #007bff;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }
    
    /*  Showing good contrast */
    
    .call-to-action {
        background-color: #f00;
        color: #fff;
        font-weight: bold;
    }
    /********************************* Main Styling ********************************/
    .main {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 90%;
    }


    /********************************* Footer Styling ********************************/
}